<form class="w-50" (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">

    <input name="product"
     placeholder="Producto" 
     class="form-control m-3" 
     [(ngModel)]="item.product"
     required minlength="3"
     #product="ngModel"
    >
    @if(product.invalid && (product.dirty || product.touched)){
        @if (product.errors!['required']) {
            <div class="text-danger m-3">
                Nombre del producto es required
            </div>
        }
        @if (product.errors!['minlength']) {
            <div class="text-danger m-3">
                Nombre del producto debe ser de mas de 3 caractres
            </div>
        }
        
    }    

    <input name="price"
     type="number"
     placeholder="precio"
     class="form-control m-3" 
     [(ngModel)]="item.price"
     required min="0,1"
     #price="ngModel"
    >
    @if(price.invalid && (price.dirty || price.touched)){
        @if (price.errors!['required']) {
            <div class="text-danger m-3">
               price es required
            </div>
        }
        @if (price.errors!['min']) {
            <div class="text-danger m-3">
                price debe ser mayor que cero
            </div>
        }
        
    }

    <input name="quantity" 
     type="number"
     placeholder="cantidad" 
     class="form-control m-3" 
     [(ngModel)]="item.quantity"
     required min="1"
     #quantity="ngModel"
    >
    @if(quantity.invalid && (quantity.dirty || quantity.touched)){
        @if (quantity.errors!['required']) {
            <div class="text-danger m-3">
                la cantidad es requerida
            </div>
        }
        @if (quantity.errors!['min']) {
            <div class="text-danger m-3">
                la cantidad debe ser mayor que cero
            </div>
        }
        
    }

    <button class="btn btn-primary m-3" [disabled]="itemForm.invalid">Nuevo Item</button>
</form>